.taskball-wrapper{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    text-align: center;
    position: relative;
    padding-top: 2px;
    display: block;
    margin-bottom: 10px;
    margin-left: -25px;
}

.taskball-title{
    font-size: 20px;
}

.taskball-status{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
}

.snoozed{
    background-color: orange;
}

.active{
    background-color: crimson;
}